@page "/studentpage"

<h3>List of Student</h3>
<a href="#">Create New</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nim</th>
            <th>Nama Belakang</th>
            <th>Nama Depan</th>
            <th>Tanggal Masuk</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var std in Students){
            <tr>
                <td>@std.StudentId</td>
                <td>@std.LastName</td>
                <td>@std.FirstName</td>
                <td>@std.EnrollmentDate</td>
                <td>
                    <a href="@($"studentdetail/{std.StudentId}")" class="btn btn-info">detail</a>
                    <a href="#" class="btn btn-primary">enroll</a>
                    <a href="#" class="btn btn-warning">edit</a>
                    <a href="#" class="btn btn-danger">delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>